<html>
<head>

<style>
p {color : black; font-family:courier; font-size: 80%;}
body {line-height: 100%; font-family:courier;}
.tlc_func {color : blue; font-weight: bold; font-size:120%;}
.tlc_if {color: green;}.tlc_assign {color: green;}.tlc_each {color: green;}.tlc_foreach {color: green;}.tlc_endif {color: green;}.tlc_switch {color: green;}.tlc_case {color: green;}.tlc_return {color: green;}.tlc_elseif {color: green;}.tlc_else {color: green;}.tlc_assert {color: green;}.tlc_function {color: green;}.tlc_endfunction {color: green;}.tlc_generatefile {color: green;}.tlc_includepath {color: green;}.tlc_include {color: green;}.tlc_sprintf {color: green;}.tlc_while {color: green;}.tlc_endwhile {color: green;}.tlc_default {color: green;}.tlc_createrecord {color: green;}.tlc_mergerecord {color: green;}.tlc_language {color: green;}.tlc_roll {color: green;}.tlc_endroll {color: green;}.tlc_with {color: green;}
.tlc_bifunc {color: brown;}
</style>

</head>
<body>
%% 
 <br>%%  
 <br>%% 
 <br>%%
 <br>%% Abstract:
 <br>%%   Template definitions for Lookup2D.
 <br>%%
 <br>%% Copyright 1994-2019 The MathWorks, Inc.
 <br>%%
 <br><span class="tlc_selectfile">%selectfile</span> NULL_FILE
 <br>&nbsp; <br>%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2RegisterTemplate">LibASAP2RegisterTemplate</a>("Lookup2D")&gt;
 <br>&nbsp; <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnRecordLayoutAlias_Lookup2D" class="tlc_func">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(dtId) void
 <br>&nbsp;&nbsp;<span class="tlc_switch">%switch</span> dtId
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_BOOLEAN
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_BOOLEAN"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_UBYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_BYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_UWORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_WORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_ULONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_SINGLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_FLOAT32_IEEE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_DOUBLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_FLOAT64_IEEE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_default">%default</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> enumStorageId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(enumStorageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span> 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%START_ASSERT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> errTxt = "Unhandled dataType. DataTypeID = %&lt;dtId&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/utillib.html#LibReportError">LibReportError</a>(errTxt)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%END_ASSERT
 <br>&nbsp;&nbsp;<span class="tlc_endswitch">%endswitch</span>
 <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D" class="tlc_func">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(dtId) void
 <br>&nbsp;&nbsp;<span class="tlc_switch">%switch</span> dtId
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_BOOLEAN
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_BOOLEAN"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_UBYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_BYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_UWORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_WORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_ULONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_SINGLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_FLOAT32_IEEE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_DOUBLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Lookup2D_X_FLOAT64_IEEE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_default">%default</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> enumStorageId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(enumStorageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>      
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%START_ASSERT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> errTxt = "Unhandled dataType. DataTypeID = %&lt;dtId&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/utillib.html#LibReportError">LibReportError</a>(errTxt)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%END_ASSERT
 <br>&nbsp;&nbsp;<span class="tlc_endswitch">%endswitch</span>
 <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteRecordLayout_Lookup2D" class="tlc_func">ASAP2UserFcnWriteRecordLayout_Lookup2D</a>() Output
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> indexMode = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetIndexMode">LibASAP2GetIndexMode</a>()
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_BOOLEAN)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_BOOLEAN)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 UBYTE INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT    
 <br>&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_UINT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_UINT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 UBYTE INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_INT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 SBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_INT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 SBYTE INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_UINT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UWORD %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_UINT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 UWORD INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_INT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 SWORD %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_INT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 SWORD INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_UINT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 ULONG %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_UINT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 ULONG INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_INT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 SLONG %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_INT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X  1 SLONG INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_SINGLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 FLOAT32_IEEE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_SINGLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X 1 FLOAT32_IEEE INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(tSS_DOUBLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1  FLOAT64_IEEE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(tSS_DOUBLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X 1 FLOAT64_IEEE INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br>%% Function: ASAP2UserFcnWriteSTDAxisRecordLayout_Lookup2D ========
 <br>%% Abstract: Write out record layout for Lookup 2D block characteristic whose 
 <br>%% axis type is in Standard Axis format.
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteSTDAxisRecordLayout_Lookup2D" class="tlc_func">ASAP2UserFcnWriteSTDAxisRecordLayout_Lookup2D</a>(recordLayout) Output
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> recordLayoutName = recordLayout.Name
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> indexMode = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetIndexMode">LibASAP2GetIndexMode</a>()
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> tablePosInBus = recordLayout.STDAxisInfo[0]
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xAxisPosInBus = recordLayout.STDAxisInfo[1]
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yAxisPosInBus = recordLayout.STDAxisInfo[2]
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> isTunableSize = (recordLayout.NumElements == 5)
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xDtId = recordLayout.BusElement[xAxisPosInBus].DataTypeIdx
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yDtId = recordLayout.BusElement[yAxisPosInBus].DataTypeIdx
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> zDtId = recordLayout.BusElement[tablePosInBus].DataTypeIdx
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(xDtId)
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(xDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xDtId = tSS_INT32      
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(xDtId)
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetDataTypeStorageIdFromId">LibGetDataTypeStorageIdFromId</a>(xDtId)
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(yDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(yDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yDtId = tSS_INT32      
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(yDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetDataTypeStorageIdFromId">LibGetDataTypeStorageIdFromId</a>(yDtId)
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(zDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(zDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> zDtId = tSS_INT32      
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> zDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(zDtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> zDtId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibGetDataTypeStorageIdFromId">LibGetDataTypeStorageIdFromId</a>(zDtId)
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span> 
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xAxisDataType = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnRecordLayoutAlias_Common">ASAP2UserFcnRecordLayoutAlias_Common</a>(xDtId)
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yAxisDataType = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnRecordLayoutAlias_Common">ASAP2UserFcnRecordLayoutAlias_Common</a>(yDtId)
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> tableDataType = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnRecordLayoutAlias_Common">ASAP2UserFcnRecordLayoutAlias_Common</a>(zDtId)
 <br>&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;recordLayoutName&gt;
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> isTunableSize
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xSizeDtId = recordLayout.BusElement[0].DataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> ySizeDtId = recordLayout.BusElement[1].DataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO_AXIS_PTS_X 1 %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnRecordLayoutAlias_Common">ASAP2UserFcnRecordLayoutAlias_Common</a>(xSizeDtId)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO_AXIS_PTS_Y 2 %&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnRecordLayoutAlias_Common">ASAP2UserFcnRecordLayoutAlias_Common</a>(ySizeDtId)&gt;
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_X %&lt;xAxisPosInBus+1&gt; %&lt;xAxisDataType&gt; INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AXIS_PTS_Y %&lt;yAxisPosInBus+1&gt; %&lt;yAxisDataType&gt; INDEX_INCR DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES %&lt;tablePosInBus+1&gt; %&lt;tableDataType&gt; %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT   
 <br>&nbsp;&nbsp;&nbsp;&nbsp; <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br>%% Function: <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnWriteCharacteristic_Lookup2D">ASAP2UserFcnWriteCharacteristic_Lookup2D</a>(paramGroup, isModelArg)
 <br>%% Abstract:
 <br>%%   - Write Lookup2D block characteristic to the a2l file. Depending on the axis
 <br>%%     type call appropirate functions to write the axis description to the a2l
 <br>%%     file.
 <br>%%   - Supports parameters that resolve to a Simulink data objects with a 
 <br>%%     non-Auto storage class as well as those that resolve to model arguments 
 <br>%%     in a referenced model
 <br>%% Arguments:
 <br>%%   - paramGroup: Parameter group to write to A2L file as CHARACTERISTIC
 <br>%%   - isModelArg: Is parameter a model argument?
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteCharacteristic_Lookup2D" class="tlc_func">ASAP2UserFcnWriteCharacteristic_Lookup2D</a>(paramGroup, isModelArg) Output
 <br>&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File 
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> xAxisParam = paramGroup.Member[0].Reference
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> yAxisParam = paramGroup.Member[1].Reference
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> tableParam = paramGroup.Member[2].Reference
 <br>&nbsp;&nbsp;%% Initialize variables
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName            = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID          = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charRecordLayout    = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> storageId           = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetDataTypeId">LibASAP2GetDataTypeId</a>(tableParam)
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !isModelArg
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ASAP2List
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(tableParam)&gt;    
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% Table parameter that directly resolve to Simulink data objects with a 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% non-auto storage class
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(tableParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetLongID">LibASAP2GetLongID</a>(tableParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddress">LibASAP2GetAddress</a>(tableParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> (paramGroup.xAxisType == "STD_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charRecordLayout = paramGroup.RecordLayoutName
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charRecordLayout = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(storageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetCompuMethod">LibASAP2GetCompuMethod</a>(tableParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMin">LibASAP2GetPhysicalMin</a>(tableParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMax">LibASAP2GetPhysicalMax</a>(tableParam)
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% Table parameter and/or axis parameter that resolve to model arguments 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% in a referenced model 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dtId = tableParam.OriginalDataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> prmName = tableParam.ModelArgumentIdentifier
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName = "%&lt;prmName&gt; /* MODEL ARGUMENT */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID = ""
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress = "0x0000 /* @ECU_Address@%&lt;prmName&gt;@ */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charRecordLayout = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_Lookup2D">ASAP2UserFcnRecordLayoutAlias_Lookup2D</a>(storageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#FcnASAP2ConstructCompuMethod">FcnASAP2ConstructCompuMethod</a>(dtId, "")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMinFromDTId">LibASAP2GetPhysicalMinFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMaxFromDTId">LibASAP2GetPhysicalMaxFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin CHARACTERISTIC      
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Name                   */      %&lt;charName&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Long Identifier        */      "%&lt;charLongID&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Characteristic Type    */      MAP
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* ECU Address            */      %&lt;charECUAddress&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Record Layout          */      %&lt;charRecordLayout&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Maxdiff                */      0
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Conversion Method      */      %&lt;charCompuMethodName&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Lower Limit            */      %&lt;charLowerLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Upper Limit            */      %&lt;charUpperLimit&gt;
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = "Y-Axis"
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> inputReference = paramGroup.ColIdxSigName
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISFIELD</span>(paramGroup,"yAxisIsCanPrm") || paramGroup.yAxisIsCanPrm == "no"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span>(paramGroup.yAxisType == "COM_AXIS") %% Not supported yet
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteComAxis">ASAP2UserFcnWriteComAxis</a>(axisName,yAxisParam,inputReference,TLC_FALSE)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.yAxisType == "STD_AXIS") %% Not supported yet
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteStdAxis">ASAP2UserFcnWriteStdAxis</a>(axisName,yAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.yAxisType == "FIX_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteFixAxis">ASAP2UserFcnWriteFixAxis</a>(axisName,yAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.yAxisType == "FIX_AXIS_PAR_LIST")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteFixAxisList">ASAP2UserFcnWriteFixAxisList</a>(axisName,yAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>        
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% If y-axis parameter resolved to a model argument in a referenced model, 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% then the axis type must be a COM_AXIS
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assert">%assert</span> (paramGroup.yAxisType == "COM_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteComAxis">ASAP2UserFcnWriteComAxis</a>(axisName,yAxisParam,inputReference,TLC_TRUE)&gt;/
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = "X-Axis"
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> inputReference = paramGroup.RowIdxSigName
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISFIELD</span>(paramGroup,"xAxisIsCanPrm") || paramGroup.xAxisIsCanPrm == "no"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span>(paramGroup.xAxisType      == "COM_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteComAxis">ASAP2UserFcnWriteComAxis</a>(axisName,xAxisParam,inputReference,TLC_FALSE)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.xAxisType == "STD_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteStdAxis">ASAP2UserFcnWriteStdAxis</a>(axisName,xAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.xAxisType == "FIX_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteFixAxis">ASAP2UserFcnWriteFixAxis</a>(axisName,xAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_elseif">%elseif</span> (paramGroup.xAxisType == "FIX_AXIS_PAR_LIST")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteFixAxisList">ASAP2UserFcnWriteFixAxisList</a>(axisName,xAxisParam,inputReference)&gt;/
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>  
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% If x-axis parameter resolved to a model argument in a referenced model, 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% then the axis type must be a COM_AXIS
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assert">%assert</span> (paramGroup.xAxisType == "COM_AXIS")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/asap2userlib.html#ASAP2UserFcnWriteComAxis">ASAP2UserFcnWriteComAxis</a>(axisName,xAxisParam,inputReference,TLC_TRUE)&gt;/
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;/end CHARACTERISTIC
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;%% Initialize variables
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName        = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLongID      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisECUAddress  = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisCompuMethod = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> numAxisPts      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLowLimit    = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisUpLimit     = ""
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> inputReference = paramGroup.RowIdxSigName
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> ((paramGroup.xAxisType == "COM_AXIS") && (!paramGroup.xIsDuplicateBreakPoint))
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> storageId       = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetDataTypeId">LibASAP2GetDataTypeId</a>(xAxisParam) 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISFIELD</span>(paramGroup,"xAxisIsCanPrm") || paramGroup.xAxisIsCanPrm == "no"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ASAP2List
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(xAxisParam)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLongID = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetLongID">LibASAP2GetLongID</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisECUAddress = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddress">LibASAP2GetAddress</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisCompuMethod = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetCompuMethod">LibASAP2GetCompuMethod</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> numAxisPts=<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetNumAxisPts">LibASAP2GetNumAxisPts</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLowLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMin">LibASAP2GetPhysicalMin</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisUpLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMax">LibASAP2GetPhysicalMax</a>(xAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dtId = xAxisParam.OriginalDataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> prmName = xAxisParam.ModelArgumentIdentifier
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = "%&lt;prmName&gt; /* MODEL ARGUMENT */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLongID = ""
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisECUAddress = "0x0000 /* @ECU_Address@%&lt;prmName&gt;@ */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisCompuMethod = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#FcnASAP2ConstructCompuMethod">FcnASAP2ConstructCompuMethod</a>(dtId, "")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> numAxisPts = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibCGTypeWidth">LibCGTypeWidth</a>(xAxisParam.CGTypeIdx)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLowLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMinFromDTId">LibASAP2GetPhysicalMinFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisUpLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMaxFromDTId">LibASAP2GetPhysicalMaxFromDTId</a>(dtId) 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISFIELD</span>(xAxisParam,"RecordLayoutName")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charAxisRecordLayout = xAxisParam.RecordLayoutName
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charAxisRecordLayout = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(storageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin AXIS_PTS
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Name                   */      %&lt;axisName&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Long Identifier        */      "%&lt;axisLongID&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* ECU Address            */      %&lt;axisECUAddress&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISEMPTY</span>(inputReference)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Input Quantity         */      NO_INPUT_QUANTITY
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Input Quantity         */      %&lt;inputReference&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Record Layout          */      %&lt;charAxisRecordLayout&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Maximum Difference     */      0
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Conversion Method      */      %&lt;axisCompuMethod&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Number of Axis Pts     */      %&lt;numAxisPts&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Lower Limit            */      %&lt;axisLowLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Upper Limit            */      %&lt;axisUpLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end AXIS_PTS
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> inputReference = paramGroup.ColIdxSigName
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> ((paramGroup.yAxisType == "COM_AXIS") && (!paramGroup.yIsDuplicateBreakPoint))
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> storageId = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetDataTypeId">LibASAP2GetDataTypeId</a>(yAxisParam) 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISFIELD</span>(paramGroup,"yAxisIsCanPrm") || paramGroup.yAxisIsCanPrm == "no"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ASAP2List
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(yAxisParam)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLongID = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetLongID">LibASAP2GetLongID</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisECUAddress = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddress">LibASAP2GetAddress</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisCompuMethod = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetCompuMethod">LibASAP2GetCompuMethod</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> numAxisPts=<a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetNumAxisPts">LibASAP2GetNumAxisPts</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLowLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMin">LibASAP2GetPhysicalMin</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisUpLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMax">LibASAP2GetPhysicalMax</a>(yAxisParam)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dtId = yAxisParam.OriginalDataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> prmName = yAxisParam.ModelArgumentIdentifier
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisName = "%&lt;prmName&gt; /* MODEL ARGUMENT */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLongID = ""
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisECUAddress = "0x0000 /* @ECU_Address@%&lt;prmName&gt;@ */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisCompuMethod = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#FcnASAP2ConstructCompuMethod">FcnASAP2ConstructCompuMethod</a>(dtId, "")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> numAxisPts = <a href="https://foool.github.io/r2020a/rtw/c/tlc/lib/dtypelib.html#LibCGTypeWidth">LibCGTypeWidth</a>(yAxisParam.CGTypeIdx)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisLowLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMinFromDTId">LibASAP2GetPhysicalMinFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> axisUpLimit = <a href="https://foool.github.io/r2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMaxFromDTId">LibASAP2GetPhysicalMaxFromDTId</a>(dtId) 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISFIELD</span>(yAxisParam,"RecordLayoutName")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charAxisRecordLayout = yAxisParam.RecordLayoutName
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charAxisRecordLayout = <a href="https://foool.github.io/r2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2lookup2d.html#ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D">ASAP2UserFcnRecordLayoutAlias_X_AXIS_Lookup2D</a>(storageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin AXIS_PTS
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Name                   */      %&lt;axisName&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Long Identifier        */      "%&lt;axisLongID&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* ECU Address            */      %&lt;axisECUAddress&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISEMPTY</span>(inputReference)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Input Quantity         */      NO_INPUT_QUANTITY
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Input Quantity         */      %&lt;inputReference&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Record Layout          */      %&lt;charAxisRecordLayout&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Maximum Difference     */      0
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Conversion Method      */      %&lt;axisCompuMethod&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Number of Axis Pts     */      %&lt;numAxisPts&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Lower Limit            */      %&lt;axisLowLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/* Upper Limit            */      %&lt;axisUpLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end AXIS_PTS
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>  
 <br><span class="tlc_endfunction">%endfunction</span>
 <br></body></html>