<html>
<head>

<style>
p {color : black; font-family:courier; font-size: 80%;}
body {line-height: 100%; font-family:courier;}
.tlc_func {color : blue; font-weight: bold; font-size:120%;}
.tlc_if {color: green;}.tlc_assign {color: green;}.tlc_each {color: green;}.tlc_foreach {color: green;}.tlc_endif {color: green;}.tlc_switch {color: green;}.tlc_case {color: green;}.tlc_return {color: green;}.tlc_elseif {color: green;}.tlc_else {color: green;}.tlc_assert {color: green;}.tlc_function {color: green;}.tlc_endfunction {color: green;}.tlc_generatefile {color: green;}.tlc_includepath {color: green;}.tlc_include {color: green;}.tlc_sprintf {color: green;}.tlc_while {color: green;}.tlc_endwhile {color: green;}.tlc_default {color: green;}.tlc_createrecord {color: green;}.tlc_mergerecord {color: green;}.tlc_language {color: green;}.tlc_roll {color: green;}.tlc_endroll {color: green;}.tlc_with {color: green;}
.tlc_bifunc {color: brown;}
</style>

</head>
<body>
%% 
 <br>%%  
 <br>%% 
 <br>%%
 <br>%% Abstract:
 <br>%%   Template definitions for Scalar.
 <br>%%
 <br>%% Copyright 1994-2016 The MathWorks, Inc.
 <br>%%
 <br><span class="tlc_selectfile">%selectfile</span> NULL_FILE
 <br>&nbsp; <br>%&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2RegisterTemplate">LibASAP2RegisterTemplate</a>("Scalar")&gt;
 <br>&nbsp; <br>%% Function:  <a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(dtId)
 <br>%% Abstract:
 <br>%%   - Write a RECORD_LAYOUT for the required type.
 <br>%%   
 <br>%% Arguments:
 <br>%%   - dtId: Data Type for RECORD_LAYOUT to be emitted.
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnRecordLayoutAlias_Scalar" class="tlc_func">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(dtId) void
 <br>&nbsp;&nbsp;<span class="tlc_switch">%switch</span> dtId
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_BOOLEAN
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_BOOLEAN"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_UBYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT8
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_BYTE"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_UWORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT16
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_SWORD"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_UINT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_ULONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_INT32
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_SINGLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_FLOAT32_IEEE"
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_case">%case</span> tSS_DOUBLE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_FLOAT64_IEEE"
 <br>&nbsp;&nbsp;&nbsp;<span class="tlc_default">%default</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumDataType">LibIsEnumDataType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibIsEnumTypeStoredAsInt">LibIsEnumTypeStoredAsInt</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> "Scalar_LONG"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> enumStorageId = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibGetEnumTypeStorageType">LibGetEnumTypeStorageType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_return">%return</span> <a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(enumStorageId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%% START_ASSERT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> errTxt = "Unhandled dataType. DataTypeID = %&lt;dtId&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/utillib.html#LibReportError">LibReportError</a>(errTxt)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%% END_ASSERT
 <br>&nbsp;&nbsp;<span class="tlc_endswitch">%endswitch</span>
 <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br>&nbsp; <br>%% Function:  <a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnWriteRecordLayout_Scalar">ASAP2UserFcnWriteRecordLayout_Scalar</a>()
 <br>%% Abstract:
 <br>%%   - Emit RECORD_LAYOUT entries for all Simulink base types.
 <br>%%   
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteRecordLayout_Scalar" class="tlc_func">ASAP2UserFcnWriteRecordLayout_Scalar</a>() Output
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> indexMode = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetIndexMode">LibASAP2GetIndexMode</a>()
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_BOOLEAN)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_UINT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_INT8)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 SBYTE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_UINT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 UWORD %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_INT16)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES 1 SWORD %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_UINT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 ULONG %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_INT32)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 SLONG %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_SINGLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 FLOAT32_IEEE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;/begin RECORD_LAYOUT %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(tSS_DOUBLE)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FNC_VALUES  1 FLOAT64_IEEE %&lt;indexMode&gt; DIRECT
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end   RECORD_LAYOUT
 <br>&nbsp; <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br>%% Function:  <a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnWriteCharacteristic_Scalar">ASAP2UserFcnWriteCharacteristic_Scalar</a>(param, isModelArg, comment)
 <br>%% Abstract:
 <br>%%   - Write scalar characteristic to the a2l file. 
 <br>%%   - Supports parameters that resolve to a Simulink data objects with a 
 <br>%%     non-Auto storage class as well as those that resolve to model arguments 
 <br>%%     in a referenced model
 <br>%%   
 <br>%% Arguments:
 <br>%%   - param: Parameter to write to A2L file as CHARACTERISTIC
 <br>%%   - isModelArg: Is parameter a model argument?
 <br>%%   - comment (optional)
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteCharacteristic_Scalar" class="tlc_func">ASAP2UserFcnWriteCharacteristic_Scalar</a>(param, ...
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;isModelArg, ...
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;comment) Output
 <br>&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File
 <br>&nbsp;&nbsp;%% Initialize variables
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dataWidth           = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName            = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID          = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit      = ""
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> storageId           = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetDataTypeId">LibASAP2GetDataTypeId</a>(param)
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> matrixDims          = ""      
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !isModelArg
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% Parameters that directly resolve to Simulink data objects with a 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% non-auto storage class
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dataWidth   =  <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetParamWidth">LibASAP2GetParamWidth</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName = "%&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbol">LibASAP2GetSymbol</a>(param)&gt; %&lt;comment&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetLongID">LibASAP2GetLongID</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddress">LibASAP2GetAddress</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetCompuMethod">LibASAP2GetCompuMethod</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMin">LibASAP2GetPhysicalMin</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMax">LibASAP2GetPhysicalMax</a>(param)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> matrixDims     = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetParamMatrixDimensions">LibASAP2GetParamMatrixDimensions</a>(param)
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% Parameters that resolve to model arguments in a referenced model
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> prmName = param.ModelArgumentIdentifier
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dataWidth =  <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibCGTypeWidth">LibCGTypeWidth</a>(param.CGTypeIdx)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dtId = param.OriginalDataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charName = "%&lt;prmName&gt; %&lt;comment&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLongID = ""
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charECUAddress = "0x0000 /* @ECU_Address@%&lt;prmName&gt;@ */"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charCompuMethodName = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#FcnASAP2ConstructCompuMethod">FcnASAP2ConstructCompuMethod</a>(dtId, "")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charLowerLimit = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMinFromDTId">LibASAP2GetPhysicalMinFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> charUpperLimit = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMaxFromDTId">LibASAP2GetPhysicalMaxFromDTId</a>(dtId)
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>  
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/begin CHARACTERISTIC
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Name                   */      %&lt;charName&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Long Identifier        */      "%&lt;charLongID&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> dataWidth > 1
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Type                   */      VAL_BLK 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Type                   */      VALUE 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* ECU Address            */      %&lt;charECUAddress&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Record Layout          */      %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(storageId)&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Maximum Difference     */      0 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Conversion Method      */      %&lt;charCompuMethodName&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Lower Limit            */      %&lt;charLowerLimit&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Upper Limit            */      %&lt;charUpperLimit&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISEMPTY</span>(matrixDims) && <span class="tlc_bifunc">EXISTS</span>(ASAP2EnableMatrixDim) && ASAP2EnableMatrixDim==TLC_TRUE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Matrix Dimensions      */
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MATRIX_DIM                        %&lt;matrixDims&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>  
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> dataWidth > 1 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Array Size             */
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NUMBER                            %&lt;dataWidth&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;/end CHARACTERISTIC
 <br>&nbsp; <br><span class="tlc_endfunction">%endfunction</span>
 <br>&nbsp; <br>&nbsp; <br>%% Function:  <a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnWriteStructCharacteristic_Scalar">ASAP2UserFcnWriteStructCharacteristic_Scalar</a>(param, parentName)
 <br>%% Abstract:
 <br>%%   - Write scalar characteristic for each field in the structure to the a2l file. 
 <br>%%   - Supports structured data
 <br>%%   - Supports parameters that resolve to a Simulink data objects with a 
 <br>%%     non-Auto storage class as well as those that resolve to model arguments 
 <br>%%     in a referenced model
 <br>%%   
 <br>%% Arguments:
 <br>%%   - param: Parameter to write to A2L file as CHARACTERISTIC
 <br>%%   - parentName:  Structure name (empty for unstructured data)
 <br><span class="tlc_function">%function</span> <a id="ASAP2UserFcnWriteStructCharacteristic_Scalar" class="tlc_func">ASAP2UserFcnWriteStructCharacteristic_Scalar</a>(param, parentName) Output
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISEMPTY</span>(parentName)                                                        
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> data = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/globalmaplib.html#FcnGetGlobalMemoryMapData">FcnGetGlobalMemoryMapData</a>(param)                              
 <br>&nbsp;&nbsp;<span class="tlc_else">%else</span>                                                                         
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> data = param                                                      
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>    
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;%% Get the ROOT Group
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> groupName = "%&lt;::CompiledModel.Name&gt;"
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISEMPTY</span>(parentName)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> groupName = parentName
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> rootGroup = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2grouplib.html#LibASAP2CreateGroup">LibASAP2CreateGroup</a>(groupName, groupName, "")
 <br>&nbsp;&nbsp;%% Create a Group (with name same as struct name) and make it a sub-Group of
 <br>&nbsp;&nbsp;%% Root Group
 <br>&nbsp;&nbsp;%% Note:
 <br>&nbsp;&nbsp;%%  parentGrpName is the original symbol that may contain "." operators
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> parentGrpName = data.Name
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> width = 1
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> data.IsStruct
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> <span class="tlc_bifunc">ISFIELD</span>(data, "NumRows")
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> width = data.NumRows
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;%% Append parent name only if the parent is a bus
 <br>&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISEMPTY</span>(parentName)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> parentGrpName = parentName + "." + parentGrpName
 <br>&nbsp;&nbsp;&nbsp;&nbsp;%% Convert bus.elem to bus_elem in order to create a valid group name
 <br>&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> parentGrp  = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2grouplib.html#LibASAP2CreateGroup">LibASAP2CreateGroup</a>(parentGrpName, "", "")
 <br>&nbsp;&nbsp;<span class="tlc_assign">%assign</span> tmpVar = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2grouplib.html#LibASAP2AddSubGroupToGroup">LibASAP2AddSubGroupToGroup</a>(rootGroup, parentGrp)
 <br>&nbsp;&nbsp;%%
 <br>&nbsp;&nbsp;<span class="tlc_foreach">%foreach</span> dataIdx = width
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_foreach">%foreach</span> busIdx = data.StructInfo.NumElements  
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dtId = data.StructInfo.BusElement[busIdx].DataTypeIdx
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> storageId = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibGetDataTypeStorageIdFromId">LibGetDataTypeStorageIdFromId</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> !<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/lib/dtypelib.html#LibIsStructDataType">LibIsStructDataType</a>(dtId)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> width > 1
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> characteristicName = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbolForBusElement">LibASAP2GetSymbolForBusElement</a>(data,busIdx,dataIdx,parentName)   
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> characteristicAddress = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddressForBusElement">LibASAP2GetAddressForBusElement</a>(data,busIdx,dataIdx,parentName)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> characteristicName = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetSymbolForBusElement">LibASAP2GetSymbolForBusElement</a>(data,busIdx,"",parentName)   
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> characteristicAddress = <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetAddressForBusElement">LibASAP2GetAddressForBusElement</a>(data,busIdx,"",parentName)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2grouplib.html#LibASAP2AddCharacteristicToGroup">LibASAP2AddCharacteristicToGroup</a>(parentGrp,characteristicName)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ASAP2List
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%&lt;characteristicName&gt;       
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> dataWidth   =  <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetParamWidthForBusElement">LibASAP2GetParamWidthForBusElement</a>(data,busIdx)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_assign">%assign</span> matrixDims  =  <a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetParamMatrixDimensionsForBusElement">LibASAP2GetParamMatrixDimensionsForBusElement</a>(data, busIdx)
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_selectfile">%selectfile</span> ModelASAP2File
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/begin CHARACTERISTIC
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Name                   */      %&lt;characteristicName&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Long Identifier        */      "%&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetLongIDForBusElement">LibASAP2GetLongIDForBusElement</a>(data,busIdx)&gt;"
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> dataWidth > 1
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Type                   */      VAL_BLK 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Type                   */      VALUE 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* ECU Address            */      %&lt;characteristicAddress&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Record Layout          */      %&lt;<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnRecordLayoutAlias_Scalar">ASAP2UserFcnRecordLayoutAlias_Scalar</a>(storageId)&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Maximum Difference     */      0 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Conversion Method      */      %&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetCompuMethodForBusElement">LibASAP2GetCompuMethodForBusElement</a>(data,busIdx)&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Lower Limit            */      %&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMinForBusElement">LibASAP2GetPhysicalMinForBusElement</a>(data,busIdx)&gt; 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Upper Limit            */      %&lt;<a href="https://foool.github.io/MATLAB/R2020a/rtw/c/tlc/mw/asap2lib.html#LibASAP2GetPhysicalMaxForBusElement">LibASAP2GetPhysicalMaxForBusElement</a>(data,busIdx)&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> !<span class="tlc_bifunc">ISEMPTY</span>(matrixDims) && <span class="tlc_bifunc">EXISTS</span>(ASAP2EnableMatrixDim) && ASAP2EnableMatrixDim==TLC_TRUE
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Matrix Dimensions      */
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MATRIX_DIM                        %&lt;matrixDims&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>  
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_if">%if</span> dataWidth > 1 
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/* Array Size             */
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NUMBER                            %&lt;dataWidth&gt;
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/end CHARACTERISTIC
 <br>&nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_else">%else</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%% Write out CHARACTERISTIC for child structure
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%<<a href="https://foool.github.io/MATLAB/R2020a/toolbox/rtw/targets/asap2/asap2/user/templates/asap2scalar.html#ASAP2UserFcnWriteStructCharacteristic_Scalar">ASAP2UserFcnWriteStructCharacteristic_Scalar</a>(data.StructInfo.BusElement[busIdx], parentGrpName)>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endif">%endif</span>
 <br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="tlc_endforeach">%endforeach</span>
 <br>&nbsp;&nbsp;<span class="tlc_endforeach">%endforeach</span>
 <br><span class="tlc_endfunction">%endfunction</span>
 <br></body></html>