<div>
    <div style="margin:20px;"> 
        <div style="width:400px" data-dojo-attach-point="dataEntryDescription" data-tag="dataEntryDescription" data-test-id="dataEntryDescription"></div>
        <br>
        <!-- Copyright 2018 The MathWorks, Inc. -->
        <fieldset style="border:#ccc solid 1px;">
            <legend data-dojo-attach-point="legendLabel"></legend>
            <div style="margin:10px">
                <table>
                    <tr><td style="vertical-align:middle;"><div data-dojo-attach-point="authorTimeLabel" data-tag="${_tagPrefix}authorTimeLabel" data-test-id="${_tagPrefix}authorTimeLabel"></div></td>
                        <td><div data-dojo-attach-point="setTime"></div></td>
                    <tr>
                    <tr><td style="vertical-align:middle;"><div data-dojo-attach-point="authorDataLabel" data-tag="${_tagPrefix}authorDataLabel" data-test-id="${_tagPrefix}authorDataLabel"></div></td>
                        <td><div data-dojo-attach-point="setData"></div></td>
                    <tr>                    
                </table>
            </div>
            
        </fieldset>
    </div>
</div>